* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-image: linear-gradient(45deg, #ff0 50%, #333 50%);
}

.container{
    width: 340px;
    height: 410px;
    background-color: darkkhaki;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(0 0 0 / 50%);
}

.container input{
    width: 100%;
    border: 2px solid #333;
    outline: none;
    height: 40px;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    background-color: transparent;
}
.container input::placeholder{
    color: #333;
    font-size: 15px;
}
.container input:focus{
    border-color: #ff0;
}

.container ul{
    margin-top: 20px;
    height: 325px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container ul::-webkit-scrollbar{
    width: 0;
}

.container ul li{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul li.completed{
    background-color: rgba(51, 51, 51, 0.70);
}

.container ul li p{
    font-size: 17px;
}

.container ul li.completed p{
    text-decoration: line-through;
    color: rgb(190, 190, 190);
}

.container ul li .icons{
    display: flex;
    gap: 13px;
}

.container ul li .icons i{
    cursor: pointer;
    color: #777;
    transition: 0.4s;
    font-size: 17px;
}
.container ul li .fa-check:hover{
    color: #18d407;
}
.container ul li .fa-trash:hover{
    color: #ff0000;
}